<div class="pagecontainer">
<!--  <div class="row takersubmit bg-success" >
    <div class="">
      <div class="card text-center" >
      <div class="card-block">
        <h4 class="card-title">How well you are aware of XXXX ?</h4>
        <p class="card-text">Have a sarvey about XXXX to check awareness</p>
        <form  class="form-inline" style="text-align: -webkit-center;">
          <div class="" style="width: 80%;">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Enter your Name">
              <span class="input-group-btn">
                <button class="btn btn-Primary" type="button">Start!</button>
              </span>
            </div>
          </div></br>

        </form>

      </div>
    </div></div>



    </div>-->
<div/>
<!--Quiz show-->
<div class="showcontent container-fluid">
  <div class="row">
  <div class="col-sm-12">
    <span class="m_quesoin_no">Question 1 / total
    </span>
  <quiz-card/>

  </div>
  <div class="col-sm-2"></div>
</div>

</div>
