<div class="quizcard">
  <form>
    <div class="">
                <div class="card">
                    <div class="header">
                        <h2>
                          What is Sales Force? (Check all that apply)
                        </h2>

                    </div>
                    <div class="body">
                      <div class="list-group">
                        <a href="#" class="list-group-item ">First item</a>
                        <a href="#" class="list-group-item">Second item</a>
                        <a href="#" class="list-group-item">Third item</a>
                      </div>
                    </div>
                </div>
            </div>
  </form>
</div>
